/** Couleurs du site : 
#222831 : bleu noir
#393E46 : gris foncé
#FFD369 : Jaune clair
#EEEEEE : gris leger
**/ 

body {
	background-color: #EEEEEE;
}

/** header **/ 
#header-nav { 
	background-color: #222831;
	border-radius: 0;
	border: 0;
 }


 #logo-img {
 	 width: 150px;  
 	 height: 150px;
 	 margin: 10px 15px 10px 20px;
 }

.navbar-brand {
	padding-top: 25px; 
}

.navbar-brand h1 {
	font-family: 'Lora', Helvetica;
	color: #FFFFFF;
	font-size: 1em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000000;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p { 
	color: #000;
	text-transform: uppercase; 
	font-size: .7em
	margin-top: 25px;
	}

.navbar-brand p span {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #EEEEEE;
	text-align: center;
}

#nav-list a:hover{ 
	background: #0D48C8;
 }

 #nav-list a span { 
 	font-size: 1.8em
 }

 .navbar-header button.navbar-toggler{
 	border: 1px solid #393E46;
 }

 .navbar-header button.navbar-toggler{
 	clear: both;
 }

#collapsable-nav a { 
	font-size: 1.2em;
	 }

#collapsable-nav a span {
	font-size: 1em;
	margin-right: 5px;
}


/** fotter **/ 

.panel-footer {
	color: #EEEEEE;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px; 
	background-color: #222831;
	border-top: 0;
}

.panel-footer div.row { 
margin-bottom: 35px;
}

#hours, #address { 
line-height: 2; }

#hours > span, #address > span {
	font-size: 1.3em; 
}

#address p {
	font-size: 0.8em;
	line-height: 1.8;
}

#testimonials {
	font-style: italic;
}

#testimonials p:nth-child(2) { 
	margin-top: 25px; }





@media (max-width: 767px) { 

#menu-tile, #specials-tile { 
	width: 360px;
	margin: 0 auto 15px; 
 }

 }





























/* Home page */ 

#menu-tile, #specials-tile, #map-tile { 
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #393E46;
	overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc
} 

#menu-tile { 
	background: url('../images/biere.jpg') no-repeat;
	background-position: center; 
}

#specials-tile {
	background: url('../images/Marcus.jpg') no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .6;
}